body{
    background-color: black;
    color: white;
}
.mainimg {
    /* border-left: 50%; */
    margin-left: 35%;
}
.jiofont{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.jiofontsize1
{
    font-size: 30px;
}
.jiofontsize2
{
    font-size: 15px;
    margin-top: 30px;
}
.jiobigboss{
    height: 10px;
    width: 200px;
}
.navbar{
    display: flex;
    height: 100px;
    padding-left: 3%;
    padding-right: 3%;
}
.btns{
    margin-left: 5px;
    height: 35%;
    display: flex;
    gap: 10px;
}
.heading{
    margin-top: 10px;
    margin-right: 1%;
}

.subbtn{
    border: px;
    height: 35px;
    width: 101px;
    border-radius: 19px;
    color: gold;
    background-color: black;
    border-color: gold;
    margin-top: 10px;
}
.fybtn{
    margin-top: 0px;
    width: 100px;
    height: 60px;
    border: 50px,solid,white;
    border-radius: 60px;
    background-color: transparent;
    color: white;
}

.restbtn{
    margin-top: 19px;
    width: 100px;
    border-radius: 10px;
    border: hidden;
    background-color: transparent;
    color: white;
}

.srbar{
    margin-top: 5px;
    margin-right: 5px;
    background-color: transparent;
    color: white;
    height: 30px;
    width: 200;
    border: 50px,solid,white;
    border-radius: 30px;
    margin-left: 20%;
}

.heightwidth{
    height: 150px;
    width: 300px;
}
.down{
    position: absolute;
    margin-top: 200px;
}
.img1{
    width: 100%;
}

.one{
    visibility: hidden;
    position: absolute;
    top: 0%;
    margin-top: 108px;
}
.col{
    display: flex;
    flex-direction: column;
}
.row{
    position: inherit;
    display: flex;
    flex-direction: row;
    gap: 25%;
}
.watchbtn{
    border-radius: 8px;
    background-color: purple;
    color: white;
    height: 40px;
    width: 120px;
}

.profile{
    height: 40px;
    width: 40px;
    background-image: url("../img/profile.png");
    background-size: cover;
    border-radius: 40px;
}
.leftright{
    display: flex;
    flex-direction: row;
    gap: 10px;
    border-radius: 40px;
    margin-top: 20px;
    margin-left: 87%;
}
.arbtn{
    height: 60px;
    width: 60px;
    border-radius: 60px;
}
.img2{
    display: flex;
    flex-direction: column;
    margin-left: 0px;
    margin-top: 5px;
}
.name{
    margin-top: 10px;
    margin-left: 25px;
}